---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import ValorPropuesta from '../components/ValorPropuesta.astro';
import Servicios from '../components/Servicios.astro';
import Proceso from '../components/Proceso.astro';
import Proyectos from '../components/Proyectos.astro';
import Testimonios from '../components/Testimonios.astro';
import Contacto from '../components/Contacto.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <ValorPropuesta />
    <Servicios />
    <Proceso />
    <Proyectos />
    <Testimonios />
    <Contacto />
  </main>
  <Footer />
</Layout>
